/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1440px;
  min-height: 1080px;
  margin: 0;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 120px 50px 120px;
}

header h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  padding-left: 10px;
}

header nav ul a {
  text-decoration: none;
  color: inherit;
}
header nav ul a:hover {
  font-weight: bold;
}
header img {
  width: 22px;
  height: 22px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

#introduction {
  display: flex;
  align-items: center;
  margin: 0 200px 0 200px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 474px;
  height: 355px;
  margin-top: 52px;
}

#introduction article {
  flex: 1;
  margin-top: 102px;
}
#introduction h2 {
  margin-bottom: 20px;
  margin-left: 39px;
}

#introduction p {
  margin-bottom: 15px;
}

.text_intro {
  width: 404px;
  padding: 0 0 54px 39px;
}
#portfolio {
  padding: 0 200px 0 200px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio button {
  font-size: 1em;
  padding: 0 20px;
  height: 37px;
  min-width: 100px;
  margin: 0 10px;
  border: solid 1px #1d6154;
  border-radius: 60px;
  color: #1d6154;
  background-color: transparent;
  transition: background-color 0.2s;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#portfolio button:hover {
  cursor: pointer;
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.filters {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.filters .filterBtnsActive {
  border: none;
  color: white;
  background-color: #1d6154;
}
.filters.on {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: row;
}

.filters.off {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*		login  */

.auth {
  width: 50%;
  margin: auto;
  margin-bottom: 70px;
}
.auth > * {
  text-align: center;
}
.auth a {
  text-align: center;
  color: black;
}
.auth a:hover {
  color: #b1663c;
}
.auth h2 {
  margin-bottom: 20px;
}
.auth input[type="email"],
.auth input[type="password"] {
  padding: 0 15px;
  height: 50px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  font-family: "Work Sans";
}

.auth input[type="submit"] {
  font-size: 1em;
  height: auto;
  padding: 10px;
}
.auth form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.auth label {
  margin: 2em 0 0.5em 0;
  font-weight: 500;
}

.login_error {
  color: purple;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.login_error {
  color: red;
}
/*   Banner Edit   */
.banner_edit_mode {
  background: black;
  color: white;
  font-size: 16px;
  height: 59px;
  width: 1440px;
  text-align: center;
  padding-top: 20px;
}
.off {
  display: none;
}
.on {
  display: block;
}
.banner_edit_mode span {
  font-family: "Work Sans";
  font-weight: 400;
}

.update {
  position: absolute;
  top: 10px;
  left: calc(50% + 125px);
}
.off {
  display: none;
}
.on {
  display: block;
}

.icon-text {
  display: flex;
  align-items: center;
}
.icon-text i {
  margin-right: 5px;
}
.icon-text p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-family: "Work Sans";
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.portfolio_container {
  position: relative;
  margin-top: 140px;
  margin-bottom: 70px;
}

.login.on,
.logout.on,
.edit.on {
  display: block;
}

.login.off,
.logout.off,
.edit.off {
  display: none;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  flex-shrink: 0;
}
.modal-wrapper {
  width: 630px;
  height: 688px;
  background: #fff;
  border-radius: 10px;
  flex-shrink: 0;
  z-index: 1;
  position: relative;
  overflow: auto;
}

.modal-wrapper button {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

.modal-wrapper h2 {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 60px;
}

.buttonModal {
  border-radius: 60px;
  background-color: #1d6154;
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 20px 9px 20px;
  width: 40%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0 10px 0;
}

.line {
  width: 420px;
  height: 2px;
  background: #b3b3b3;
  position: absolute;
  bottom: 135px;
  left: 105px;
}
